<div id = "page_wrapper">
  <div id="profile_image">
    <%= image_tag "logo.png" %>
  </div>

  <div id="content">
    <h1> Nostalgia | Server: NA-PvP | Faction: Alliance</h1>

    <h2>Introduction:</h2>

    <p>Nostalgia is a raiding guild with a casual schedule, but a hardcore raiding atmosphere. We are built on a core
      of former top NA raiders that no longer have the time to commit to a rigours schedule, but still want to
      experience all that WoW Classic has to offer. The guild was created in order to provide a hardcore raiding
      experience on a 2 day schedule that appeals to both PST and EST players, which is something that is lacking
      from the current guilds preparing for WoW Classic.</p>

    <h2>Raid Schedule:</h2>

    <p>Friday: 6:00pm to 9:00pm PST<br>
      Sunday: 5:00pm to 7:00pm (Spare Raid)<br><br>

      We plan to have a relatively light raiding schedule; however, we are focusing on efficiency, doing content in
      the least amount of time, and playing our roles to the best of our abilities. </p>

    <h2>Expectations:</h2>

    <p>While we likely won't compete with the hardcore guilds in terms of first kills, we expect to be competitive in
      terms of dps, boss kill times, and clear speeds. In order to achieve this, we expect that all members of the guild
      put in the necessarily work in order to preform better from week to week. This will also involving becoming better
      as a team. Throughout the course of the raid tier we will tinker with raid strategies and specs in order to become
      more efficient. It's expected that all members be able to adapt to changes, even during farm content.<br><br>

      We expect that all members of the raiding team come to each raid prepared. This means that all encounters are
      researched and the player has a understanding of what is to come prior to entering each raid. While not all
      consumables are required for ridiculous monetary reasons, we ask that members bring what they can afford.
      Similarly, while attaining world buffs is not required, it will certainly help the team if one has time available
      to commit to this kind of  extra preparation.<br><br>

      We expect that all members of the guild treat each other with respect. All members will work towards the overall
      goal of the guild, and not focus on personal gains. Any situation in which a person is causing conflict within the
      guild, putting themselves above the team, or causing any other drama, will be swiftly removed from the guild.<br><br>

      Players of all kinds are welcomes to join the guild; however, we expect that all members of the raiding team
      maintain an average attendance of 75%.</p>

    <h2>Looting Policies:</h2>

    <p>Upon a boss kill during an official guild raid, all loot will be directly looted to the Master Looter, and the
      raid will begin focus on progressing to the next boss. All loot from the Master Looter will be looted to the raid
      at a time deemed most efficient during the raid. We will be using a fair and transparent loot council system for
      all 40man raids. The loot council will consist of five members, made up of both officers and elected raiders. The
      elected positions to be rotated every raid/week/month (undetermined). The council will distribute the loot based
      on the following factors:<br><br>

      1. Future Needs<br>
      2. Role Priorities<br>
      3. Items Intended Class<br>
      4. Upgrade Size<br>
      5. Member Contribution<br><br>

      All items of epic quality will be distributed to the player with the most votes from the loot council. In the
      event of a tie, a /roll will occur between all members that are still in contention. Items of legendary quality
      will be distributed to a preselected player. The person assigned to received legendary items will be selected
      based on the effectiveness of the item for the class, member contributions to the guild, and future guild
      considerations. The following is the current plan for the first three Thunderfurys:<br><br>

      1. Main Tank TBD<br>
      2. Off Tank TBD<br>
      3. DPS TBD<br><br>

      All other items will be distributed to the guild bank for the purposes of building gold and crafting materials.</p>

    <h2>Leadership:</h2>
    <p>This is largely still TBD. A final leadership structure will be determined prior to the first official raid.<br><br>

      Guild Master: Burton<br>
      Raid Leader: Mancake<br>
      Officer: Threelegs</p>

    <h2>Loot Council:</h2>

    <p>Again, this is still largely TBD. The loot council will be determined in full prior to the first raid.<br><br>

      Burton<br>
      Threelegs<br>
      Person TBD<br>
      Person TBD<br>
      Elected Spot</p>

    <h2>Profession Council</h2>

    <p>The profession council consists of those members that have been selected to hold key recipes and patters for each
      profession. Each profession will have a primary and secondary member selected, which will represent the people
      that will receive important patterns and recipes first. Any drops which the primary and secondary members already
      have will go to a need roll, followed by a greed roll.<br><br>

      Enchanting:<br>
      Blacksmithing: Mancake;<br>
      Alchemy:<br>
      Tailoring: Burton;<br>
      Leatherworking:<br>
      Engineering: Burton; Mancake<br>
      Mining:<br>
      Skinning:<br>
      Herbalism</p>
  </div>
</div>